/* CSS */
.explore-menu {
    text-align: center;
    padding: 40px;
  }
  
  .explore-menu-text {
    max-width: 600px;
    margin: 0 auto 20px;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: rgb(2, 185, 246);
    text-align: center;
    quotes: "“" "”";
  }
  
  .explore-menu-text::before {
    content: open-quote;
    font-size: 30px;
  }
  
  .explore-menu-text::after {
    content: close-quote;
    font-size: 30px;
  }
  
  .explore-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    padding: 10px;
    white-space: nowrap;
  }
  
  .explore-menu-item {
    flex: 0 0 auto;
    text-align: center;
  }
  
  .explore-menu-item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid transparent;
  }
  
  .explore-menu-item p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .explore-menu-item.active img {
    border-color: tomato;
  }
  /* .explore-menu-item.active p {
    color: tomato;
  }/*