.food-item {
    width: 250px;
    padding: 15px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #dc232300;
    transition: transform 0.3s ease-in-out;
  }
  
  .food-item:hover {
    transform: translateY(-5px);
  }
  
  .food-item img {
    width: 100%;
    height: 150px;
    border-radius: 12px;
    object-fit: cover;
  }
  
  .food-item h2 {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
  }
  
  .food-item p {
    font-size: 14px;
    color: #666;
  }
  
  .food-item p:last-child {
    font-weight: bold;
    color: #ff6347;
  }
  
  /* For the add icon */
  .food-item img.add {
    width: 40px; /* Adjust the size as needed */
    height: 40px;
    object-fit: contain;
    margin-top: 10px;
    cursor: pointer;
  }
  .food-item img.remove {
    width: 40px; /* Adjust the size as needed */
    height: 40px;
    object-fit: contain;
    margin-top: 10px;
    cursor: pointer;
  }
  /* Container for the rating stars */

  
  .rating {
    display: flex;
    justify-content: center;
    margin: 5px 0; /* Adjust the spacing */
  }
  
  .rating img {
    width: 80px; /* Smaller size for stars */
    height: auto; /* Maintain aspect ratio */
  }
  